<link rel="stylesheet" href="/css/proyecto/proyecto.css">
<form action="/proyecto/Agregar/" method="post">
    <div id="img">
        <img src="/img/ejecutivo_logo.png" alt="">
    </div>
    <div id="contenido">

        <div id="contenedor">
            <div id="titulo">
                <p>Proyecto</p>
            </div>

            <div id="nombre_proyecto">
                <label>Nombre: </label>
                <input name="nombre_proyecto">
            </div>

            <div id="descripcion_proyecto">
                <label>Descripción: </label>
                <input name="descripcion_proyecto" id="descripcion_proyectos" checked type="text">
            </div>
            <div id="mision">
                <label>Mision: </label>
                <input name="mision">
            </div>

            <div id="vision">
                <label>Vision: </label>
                <input name="vision" id="visiones" checked type="text">
            </div>
            <div id="agregar">
                <button type="submit">Agregar</button>
            </div>
        </div>
    </div>

</form>