<link rel="stylesheet" href="/css/proyecto/proyectoAgregar.css">
<form action="/proyecto/Agregar/" method="post">

    <div id="contenido">
        <div id="fondo">
            <img src="/img/FondoF.png" alt="">
        </div>
        <div id="contenedor">
            <div id="titulo">
               <!-- {{#each lista}}-->
                <p>Proyecto N° <!--<input type="text" name="numero" id="numero" value="{{'MAX(proyecto_id)'}}"--></p>
                <!--{{/each}}-->
            </div>
            <div id="nombre_proyecto">
                <label>nombre: </label>
                <input name="nombre_proyecto" id="nombre_proyectos" checked type="text">
            </div>
            <div id="descripcion_proyecto">
                <label>descripcion: </label>
                <input name="descripcion_proyecto" id="descripcion_proyectos" checked type="text">
            </div>
            <div id="mision">
                <label>mision: </label>
                <input name="mision" id="misiones" checked type="text">
            </div>
            <div id="vision">
                <label>vision: </label>
                <input name="vision" id="visiones" checked type="text">
            </div>
           <!-- <div id="objetivos">
                <label>Objetivos:</label>
                <input type="text" id="numeros" placeholder="Ingrese su número de objetivos" checked>
            </div>

            <div id="listaObjetivos"></div>

            <div id="boton">
                <button id="botones" type="button" onclick="objetivos.crear()">Crear Objetivos</button>
            </div>-->
            <div id="agregar">
                <button type="submit">Agregar</button>
            </div>
        </div>
    </div>
</form>
<!--
<script src="/js/objetivos.js"></script>
<script src="/js/numero.js"></script>
-->