<link rel="stylesheet" href="/css/detalleRutina/detalleRutinaAgregar.css">
<form action="/detalleRutina/Agregar/{{user.idUsuarios}}" method="post">

    <div id="contenido">
        <div id="fondo">
            <img src="/img/111.png" alt="">
        </div>
        <div id="contenedor">

            <div id="titulo">
                <p>Detalle Rutina</p>
            </div>
            <label>Consejos: </label>
            <div id="consejos">
                <input name="consejos" id="consejo" checked type="text">
            </div>
            <div id="agregar">
                <button type="submit">Agregar</button>
            </div>
        </div>

    </div>
</form>