<link rel="stylesheet" href="/css/detalle_ejercicio/detalleEjercicioEditar.css">
{{#each lista}}
<form action="/detalleEjercicio/Editar/{{detalle_ejercicio_id}}" method="post">
    {{/each}}
    <div id="img">
        <img src="/img/ejecutivo_logo.png" alt="">
    </div>
    <div id="contenido">
       
       
        <div id="contenedor">


            <div id="titulo">
                <p>Detalle Rutina</p>
            </div>
            {{#each lista}}
            <div id="comentario">
                <label>Comentario:</label>
                <input name="comentario" id="comentar" checked type="text" value="{{comentario}}">
            </div>
            {{/each}}
            <div id="editar">
                <button type="submit">Editar</button>
            </div>
        </div>

    </div>
    <a href="/detalleEjercicio/lista/1" />
    <div class="icon">
        <div class="arrow">

        </div>

    </div>
    </a>
</form>