<link rel="stylesheet" href="/css/detalle_ejercicio/detalleEjercicioEditar.css">
{{#each lista}}
<form action="/detalleEjercicio/Editar/{{detalle_ejercicio_id}}" method="post">
    {{/each}}
    <div id="img">
        <a href="/proyecto/lista/{{user.idUsuarios}}"><img src="/img/ejecutivo_logo.png" alt=""></a>
    </div>
    <div id="contenido">
        <div id="contenedor">
            <div id="titulo">
                <p>Detalle Ejercicio</p>
            </div>
            {{#each lista}}
            <div id="comentario">
                <label>Comentario:</label>
                <input name="comentario" id="comentar" checked type="text" value="{{comentario}}">
            </div>
            {{/each}}
            <div id="editar">
                <button type="submit">Editar</button>
            </div>
        </div>
        <div id="atras">
            <a href="/detalleEjercicio/lista/{{user.idUsuarios}}"><img id="atras2"src="/img/flecha.png" alt=""></a>
        </div>
    </div>
</form>