<link rel="stylesheet" href="/css/login/login.css">
<form action="/detalleEjercicio/Agregar" method="post">

    <div id="contenido">
        <div id="titulo">
            <p>Detalle Ejercicio</p>
        </div>
        <div id="consejos">
            <label>Consejos:</label>
            <input name="consejos" id="consejo" checked type="text">
        </div>
        <div id="agregar">
            <button type="submit">Agregar</button>
        </div>
    </div>
</form>