<link rel="stylesheet" href="/css/detalle_ejercicio/detalleEjercicioAgregar.css">
<form action="/detalleEjercicio/Agregar/{{user.idUsuarios}}" method="post">
    <div id="contenido">
<div id="fondo">
            <img src="/img/FondoF.png" alt="">
        </div>
        <div id="contenedor">
            <div id="titulo">
                <p>Detalle Ejercicio</p>
            </div>
            <div id="comentario">
                <label>Comentario:</label>
                <input name="comentario" id="comentar" checked type="text">
            </div>
            <div id="agregar">
                <button type="submit">Agregar</button>
            </div>
        </div>

    </div>

</form>