<link rel="stylesheet" href="/css/login/login.css">
<form action="/detalleEjercicio/Lista/{{user.idUsuarios}}" method="get">

    <div id="contenido">
<div class="row">
    {{#each lista}}
    <div id="tarjetas">
        <div id="comentario">
            <p> {{comentario}}</p>
        </div>
        <div id="eliminar">
           <a href="/detalleEjercicio/Eliminar/{{detalle_ejercicio_id}}"> Eliminar</a> 
        </div>
        <div id="Editar">
           <a href="/detalleEjercicio/Editar/{{detalle_ejercicio_id}}">Editar</a> 
        </div>


    </div>
    {{/each}}
</div>
</form>
