<link rel="stylesheet" href="/bemuscle/bemuscle-admin/src/public/css/detalle_ejercicio/detalleEjercicio.css">
<script src="js/jquery-2.1.4.js" type="text/javascript"></script>
<link href="bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="bootstrap/bootstrap-theme.css" rel="stylesheet" />

 {{#each lista}}
<form action="/detalleEjercicio/Editar/{{detalle_ejercicio_id}}" method="post">
 {{/each}}
    <div id="contenido">
        <div id="titulo">
            <p>Login</p>
        </div>
        {{#each lista}}
        <div class="form-floating">
        <div id="comentario">
            <label for="floatingTextarea2"> Comentario:</label>
            <input name="comentarios" class="form-control" placeholder="Coloca tu comentario gracias" id="floatingTextarea2" style="height: 100px" id="comentario" checked type="text" value="{{comentarios}}">
        </div>
        </div>
        {{/each}}
        <div id="editar">
            <button type="submit" class="btn btn-outline-success">Editar</button>
            
        </div>
    </div>

</div>
</form>


