<link rel="stylesheet" href="css/paginaPrincipal.css">
<form action="/paginaPrincipal/Inicio/{{user.idUsuarios}}" method="post">
    <div id="fondo">
        <img src="img/111.png" alt="">
    </div>
    <div id="img">
        <img src="/img/ejecutivo_logo.png" alt="">
    </div>
    <h1>Bienvenid@</h1>
    <div id="contenido">
        <h2>¿Quienes somos?</h2>
        <h3>
            Somos un grupo de jovenes que han desarrollado un aplicativo web con el objetivo de incentivar el deporte
            como forma de vida. Logrando que muchas personas se beneficien de este proyecto.
        </h3>
    </div>
    <div id="mision">
        <h2>Mision</h2>
        <h3>
            *Incentivar el deporte mediante un aplicativo web que fortalezcan la salud física y mental.
            *Ayudar a mantener una buena condición física mediante una asesoria de alimentos saludables.
            *Brindar un servicio completos sin un costo muy elevado.
        </h3>
    </div>
    <div id="vision">
        <h2>Vision</h2>
        <h3>
            Ser un ginasio web reconocido internacionalmente que brinde un servicio de calidad y bienestar para cada
            miembro. Logrando ser la mejor opcion deportiva por ofrecer un ambiente ameno, accesible, práctico y 
            estimulante, en el que todos puedan sentirse comodos.
        </h3>
    </div>
</form>