<link rel="stylesheet" href="/css/clasificacion/clasificacion.css">
<form action="/clasificacion/Agregar" method="post">

    <div id="contenido">
        <div id="titulo">
            <p>Clasificacion</p>
        </div>
        <label>Nombre: </label>
        <div id="nombre_clasificacion">
            <input name="nombre_clasificacion"  id="nombre_clasificaciones" checked
                type="text">
        </div>
        <div id="agregar" >
            <button type="submit" >Agregar</button>
        </div>
    </div>
</form>