<link rel="stylesheet" href="/css/clasificacion/clasificacion.css">
{{#each lista}}
<form action="/clasificacion/Editar/{{clasificacion_id}}" method="post">
    {{/each}}
    <div id="contenido" >
        <div id="titulo">
            <p>Clasificacion</p>
        </div>
        {{#each lista}}
        <label>Nombre: </label>
        <div id="nombre_clasificacion">
            <input name="nombre_clasificacion" id="nombre_clasificaciones" checked type="text"
                value="{{nombre_clasificacion}}">
        </div>
        {{/each}}
        <div id="editar"  >
            <button type="submit" >Editar</button>
        </div>
    </div>
</form>