<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="/css/clasificacion/clasificacion.css">
<form action="/clasificacion/Agregar" method="post">

    <div id="contenido" class="row g-3">
        <div id="titulo">
            <p>Clasificacion</p>
        </div>
        <label>Nombre: </label>
        <div id="nombre_clasificacion" class="col-auto">
            <input name="nombre_clasificacion" class="form-control" id="nombre_clasificaciones" checked
                type="text">
        </div>
        <div id="agregar" class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Agregar</button>
        </div>
    </div>
</form>