<link rel="stylesheet" href="/css/rutinas/style.css">

<form action="/rutinas" method="post">
<div id ="contenido">
    <div id="titulo">
        <p>rutinas</p>

    </div>
    <div id ="">

    </div>

</div>

</form>