<link rel="stylesheet" href="/css/ejercicio/ejercicioMenu.css">
<form action="/ejercicioMenu/Menu/" method="get">
<div id="img">
    <img src="/img/ejecutivo_logo.png" alt="">
</div>
    <div id="contenido">
        <div id="contenedor">

            <div id="contenedor">
                <div id="titulo">
                    <p>ejercicioMenu</p>
                </div>

                <div id="kiko-slider">

                    <ul class="slider">
                        <li id="slide1">

                            <a href="/ejercicio/lista/1" /> <img src="/img/cardio.png"> </a>
                        </li>
                        <li id="slide2">
                            <a href="/ejercicio/lista/1" /> <img src="/img/crossfit.png" /> </a>
                        </li>
                        <li id="slide3">
                            <a href="/ejercicio/lista/1" /> <img src="/img/dinamicos.png" /> </a>
                        </li>
                        <li id="slide4">
                            <a href="/ejercicio/lista/1" /> <img src="/img/flexibilidad.png" /> </a>
                        </li>
                        <li id="slide5">
                            <a href="/ejercicio/lista/1" /> <img src="/img/flexiones.png" /> </a>
                        </li>
                        <li id="slide6">
                            <a href="/ejercicio/lista/1" /> <img src="/img/fuerza.png" /> </a>
                        </li>
                        <li id="slide7">
                            <a href="/ejercicio/lista/1" /> <img src="/img/pesas.png" /> </a>
                        </li>
                    </ul>

                    <ul class="menu">
                        <li>
                            <a class="slide1" href="#slide1">Cardio </a>
                        </li>
                        <li>
                            <a href="#slide2">Crossfit</a>
                        </li>
                        <li>
                            <a href="#slide3">Dinamico</a>
                        </li>
                        <li>
                            <a href="#slide4">Flexibilidad</a>
                        </li>
                        <li>
                            <a href="#slide5">Flexiones</a>
                        </li>
                        <li>
                            <a href="#slide6">Fuerza</a>
                        </li>
                        <li>
                            <a href="#slide7">Pesas</a>
                        </li>
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>
    </div>

</form>
<script src="/js/main.js"></script>