<link rel="stylesheet" href="/css/ejercicio/ejercicioLista.css">
<form action="/ejercicio/Lista/{{user.idUsuarios}}" method="get">
</form>
<div id="img">
    <img src="/img/ejecutivo_logo.png" alt="">
</div>
<div id="contenido">
    <div class="row">
        {{#each lista}}
        <div id="tarjetas">
            <div id="nombre_ejercicios">
                <p> {{nombre_ejercicio}}</p>
            </div>
            <div id="descripciones">
                <p> {{descripcion}}</p>
            </div>
            <div id="calificaciones">
                <p> {{calificacion}}</p>
            </div>
            <div id="detalleE">
                <a href="/detalleEjercicio/lista/' + ids" type="button">Comentarios </a>
            </div>
            <div id="Ver">
                <a href="/ejercicioMenu/Menu/" type="button">Tipos de Ejercicios </a>
            </div>
        </div>
        {{/each}}
    </div>

</div>