body {
    margin: 0px;
    padding: 0px;
    background: url("/img/FondoF.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open sans', sans-serif;
}

form {
    padding: 0%;
}

#contenido {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#img {
    position: absolute;
    top: 2%;
    left: 9.5%;
    width: 100%;
    height: 100%;
    max-width: 15%;
    max-height: 13%;
}

#img img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

#contenedor {
    background-color: #fffafa;
    position: absolute;
    top: 27%;
    width: 100%;
    height: 100%;
    max-width: 40%;
    max-height: 75%;
    left: 30%;
    box-shadow: 0px 0px 40px #028a8f, 0px 0px 80px #07aab0;
    border-top: 5px solid #fffafa;
    border-bottom: 5px solid #fffafa;
    border: 4px ridge #03f2fa;
    padding: 2%;
    background-color: #111111;
    font-weight:lighter;

}

#titulo {
    text-shadow: 0px 0px 40px #03f2fa, 0px 0px 80px #11eff7, 3px 3px 80px #11eff7;
    color: #00ffff;
    font-style: oblique;
    font-size: 30px;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 10px;
    text-align: center;
}

#descripcion_clasificacion {
    position: absolute;
    top: 53%;
    width: 80%;
    left: 10%;
}

#nombre_clasificacion {
    position: absolute;
    top: 28%;
    width: 80%;
    left: 10%;
}

#agregar {
    position: absolute;
    top: 84%;
    width: 64%;
    left: 18%;

}

label {
    text-shadow: 0px 0px 40px #03f2fa, 0px 0px 80px #11eff7, 3px 3px 80px #11eff7;
    color: #fefefe;
    font-style: oblique;
    font-size: 20px;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 7px;
    text-align: left;
    margin-top: 3px;
    margin-left: 15%;
    left: 5%;
}

input {
    width: 70%;
    height: 35px;
    border-color: #006;
    border-bottom-color: #006;
    border-bottom-style: groove;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 4px;
    box-shadow: 0px 0px 5px #03f2fa, 0px 0px 10px #11eff7;
    margin-bottom: 2%;
    margin-top: 5px;
    margin-left: 15%;
    font-size: 88%;
    font-weight:lighter;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;

}

input:hover {
    transition: .8s;
    border-bottom-color: #00d9ff;
    box-shadow: 0px 0px 5px #080808, 0px 0px 10px #050505;
    font-weight:lighter;

}

input:focus {
    transition: .8s;
    background-color: #080808;
    box-shadow: 0px 0px 5px #f4f8f8, 0px 0px 10px #f3f8f8;
    border-bottom-color: #00d9ff;
    color: #f4f8f8;
    font-weight:lighter;

}

textarea {
    width: 70%;
    height: 35px;
    border-color: #006;
    border-bottom-color: #006;
    border-bottom-style: groove;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 4px;
    box-shadow: 0px 0px 5px #03f2fa, 0px 0px 10px #11eff7;
    margin-bottom: 2%;
    margin-top: 5px;
    margin-left: 15%;
    font-size: 88%;
    text-align: center;
    font-weight:lighter;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;

}

textarea:hover {
    transition: .8s;
    border-bottom-color: #00d9ff;
    box-shadow: 0px 0px 5px #080808, 0px 0px 10px #050505;

}

textarea:focus {
    transition: .8s;
    background-color: #080808;
    box-shadow: 0px 0px 5px #f4f8f8, 0px 0px 10px #f3f8f8;
    border-bottom-color: #00d9ff;
    color: #f4f8f8;
}

#boton {
    position: absolute;
    top: 70%;
    width: 80%;
    left: 10%;

}

button {
    width: 100%;
    border: none;
    color: #f6fbfb;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #293032;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #fdf8f8, 0px 0px 10px #f0e9e9;
    border: 2px solid #e2f8ec;

}

button:hover {
    transition: .8s;
    border-bottom-color: #a9afb0;
    box-shadow: 0px 0px 5px #f5f1f4, 0px 0px 10px #9ba6bf;
    background-color: #346b93;
    border: 2px solid #e2f8ec;


}

button:focus {
    transition: .8s;
    background-color: #346b93;
    box-shadow: 0px 0px 5px #d2c3d1, 0px 0px 10px #99a1be;
    border-bottom-color: #ede5ec;
    color: #ede3ed;
    border: 2px solid #e2f8ec;


}

.icon {
    position: relative;

    margin-top: 500px;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 60px;
    cursor: pointer;

}

.arrow {

    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 40px #028a8f, 0px 0px 80px #07aab0;

}

.arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    box-shadow: 0px 0px 40px #028a8f, 0px 0px 80px #07aab0;

    height: 10px;
    right: 40px;
    background-color: rgb(0, 0, 0);
}

.arrow::after {
    top: -12px;
    transform: rotate(136deg);
}

.arrow::before {
    top: 12px;
    box-shadow: 0px 0px 40px #028a8f, 0px 0px 80px #07aab0;

    transform: rotate(-136deg);
}

#range {

    width: 70%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 4px;
    box-shadow: 0px 0px 5px #121212, 0px 0px 10px #171818;
    margin-bottom: 2%;
    font-size: 88%;

}