<<<<<<< HEAD
=======
*{
    margin-right: 0.5%;
}
>>>>>>> da6171eef926f353f3f6c3040c87eb8b3cf8fb00

body{
    background: url(/img/FondoF.png);
    background-size: cover;
    background-attachment: fixed;
}
#container {
    background-size: cover;
    transform: translate(0px, -42px);
    background-attachment: fixed;
}

#contenido {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#img img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#bemuscle {
    color: aqua;
    position:fixed;
    text-shadow: 0px 0px 40px #6d6d6d, 0px 0px 80px #00f7ff, 3px 3px 80px #11eff7;
    align-items: center;
    left: 60%;
    top: 5%;
   
}

h1 {
    font-size: 70px;
}
h2 {
    position: relative;
}

p {
    position: relative;
    color: #f5f3f3;
    text-align: center;
}

#navbar {
    margin: auto;
    background-color: #18121E;
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: auto;
}

ul {
    margin: 0%;
    padding: 0%;

}

li {
    margin-left: -2%;
    margin-right: 1%;
    display: inline-block;
}


#navbar ul li a {
    width: auto;
    color: aliceblue;
    display: block;
    padding: 5px;
    text-decoration: none;

}

#cabecera {
    margin-top: 10%;
    margin-left: 10%;
}



#parrafo1 {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}


#parrafo1 {
    top: 5%;
    width: 100%;
    height: 100%;
    max-width: 40%;
    max-height: 40%;
    text-align: center;
    padding: 2%;
    background-color: #070606c3;
    text-shadow: 0px 0px 40px #03f2fa, 0px 0px 80px #11eff7, 3px 3px 80px #11eff7;
    float: right;
    margin: 2% 2% 2% 2%;

}

#boton {
    text-align: center;
    border: 0px solid;
    background-color: #070606c3;
    width: 10%;
    margin-left: 25%;
    margin-top: 5%;
    text-shadow: 0px 0px 40px #03f2fa, 0px 0px 80px #11eff7, 3px 3px 80px #11eff7;
}

a {
    margin-left: 10px;
    color: #fffbfb;
    font-weight: 100;
}

h2 {
    color: aqua;
}

#objetivos {
    background-color: #070606c3;
    margin-top: 25%;
    width: 970px;
    margin-left: 20%;
    text-align: center;
    text-shadow: 0px 0px 40px #03f2fa, 0px 0px 80px #11eff7, 3px 3px 80px #11eff7;
    padding: 3%;

}

#mision {
    background-color: #070606c3;
    width: 75px;
    padding-top: 2%;
    padding-left: 25px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 10%;
    margin-bottom: 2%;
    text-shadow: 0px 0px 40px #03f2fa, 0px 0px 80px #11eff7, 3px 3px 80px #11eff7;
    padding: 3%;
}

#vision {
    background-color: #070606c3;
    width: 75px;
    padding-top: 2%;
    margin: 2% 2% 2% 2%;
    margin-left: 10%;
    text-shadow: 0px 0px 40px #03f2fa, 0px 0px 80px #11eff7, 3px 3px 80px #11eff7;
    padding: 3%;


}

#valores {
    background-color: #070606c3;
    text-align: center;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 2%;
    text-shadow: 0px 0px 40px #03f2fa, 0px 0px 80px #11eff7, 3px 3px 80px #11eff7;
    padding: 2%;
}

#logo {
    width: 6%;
    height: 10%;
    top: 0%;
}

#buton {

    margin-top: -25%;
    margin-left: 60%;
    position: relative;
    left: 10%;
    border: 0px solid;
    background-color: #070606c3;
    width: 10%;
    margin-bottom: 10%;
    text-shadow: 0px 0px 40px #03f2fa, 0px 0px 80px #11eff7, 3px 3px 80px #11eff7;
}

#button {
    text-align: center;
    margin-top: 5px;
    margin-left: 60%;
    position: relative;
    left: 10%;
    border: 0px solid;
    background-color: #070606c3;
    width: 10%;
    margin-bottom: 10%;
    text-shadow: 0px 0px 40px #03f2fa, 0px 0px 80px #11eff7, 3px 3px 80px #11eff7;
}
#CS{
    text-align: center;
    margin-top:100px;
    margin-left: 60%;
    position: relative;
	left: 25%;
    border: 0px solid;
    background-color:  #070606c3;
    width: 10%;

    text-shadow: 0px 0px 40px #03f2fa, 0px 0px 80px #11eff7, 3px 3px 80px #11eff7;
}