#container {
   background-image: url(../../img/FondoF.png);
    margin-top: 3%;
    height: 1800px;
   

}

 #fondo {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0%;
    background-color: #fffafa;
}

#fondo img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
} */


#bemuscle {
    color: aqua;
    position: relative;
}

h2 {
    position: relative;
}

p {
    position: relative;
    color: bisque;
    text-align: center;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.986);
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;



}

ul {
    list-style: none;
    margin: 0%;
    padding: 0%;

}

li {
    display: inline-block;

}

#navbar ul li a {
    color: aliceblue;
    display: block;
    padding: 10px;
    text-decoration: none;

}

#cabecera{
    margin-left: 5%;
}



#parrafo1{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}


#parrafo1{
   
    top: 8%;
    width: 100%;
    height: 100%;
    max-width: 40%;
    max-height: 40%;
    text-align: center;
    padding: 2%;
    background-color: #08e0fd29;
  
    float: right;
    margin: 2% 2% 2% 2%;
          
}

#boton{
    border: 3px solid;
    background-color: #584d4dcf;
    width: 100px;
    margin-left: 25%;
    margin-top: 5%;
}
a{
    margin-left: 10px;
}

h2{
   color: #39E98C;
}

#objetivos{
    background-color: #08e0fd29;
    margin-top: 25%;
    width: 970px;
    height: 300;
    margin-left: 20%;
    text-align: center;
    
}

#mision{
    background-color: #08e0fd29;
    width: 75px;
    padding-top: 2%;
    padding-left: 25px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
#vision{
    background-color: #08e0fd29 ;
    width: 75px;
    padding-top: 2%;
    margin: 2% 2% 2% 2%;
          

}

#valores{
    background-color: #08e0fd29;
   
    text-align: center;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 2%;
    
}