<link rel="stylesheet" href="/css/inicio/inicio.css">

<div id="navbar">
    <img id="logo" src="/img/ejecutivo_logo.png" alt="">
    <ul>
        <li id=""><a href="/index/">Ingresa</a></li>
        <li id=""><a href="/registro">Registrate</a></li>
        <li id=""><a href="">Contactanos</a></li>
        <a href="#objetivos">Ver más</a>
        <a href="/login/1">Iniciar Sesión</a>
    </ul>
</div>

<form action="/inicio/" method="post">
    <div id="container">
        <div id="bemuscle">
            <h1>BE MUSCLE</h1>
        </div>
        <div id="cabecera">
            <img src="/img/lit.png" alt="">
        </div>

        <div id="descripcion">

            <div id="parrafo1">
                <h2>¿Quienes somos?</h2>
                <p> Somos un grupo de jovenes
                    que han desarrollado un aplicativo web con el objetivo
                    de incentivar el deporte como forma de vida. Logrando
                    que muchas personas se beneficien de este proyecto.</p>
            </div>

        </div>

        <section>


            <div id="objetivos">
                <h2>Objetivos</h2>
                <p>Satisfacer la necesidad de mejorar la calidad de vida de cada socio.</p>
                <p>Brindar actividades de entrenamiento para todas las personas de distintas
                    edades.</p>
            </div>
        </section>


        <section id"seccion2">
            <div class="row">
                <div class="col " id="mision">
                    <h2>Mision</h2>
                    <p>Incentivar el deporte mediante un aplicativo web
                        que fortalezcan la salud física y mental, de la mano
                        de una asesoria de alimentos saludables y brindar un
                        servicio completos sin un costo muy elevado.</p>
                </div>

                <div class="col " id="vision">
                    <h2>Vision</h2>
                    <p>Ser un ginasio web reconocido internacionalmente que
                        brinde un servicio de calidad y bienestar para cada miembro.
                        Logrando ser la mejor opcion deportiva por ofrecer un
                        ambiente ameno, accesible, práctico y estimulante, en el que
                        todos puedan sentirse comodos</p>
                </div>

            </div>
        </section>

        {{!-- objetivos --}}
        <section id="seccion3">
            <div id="valores">
                <h2>Valores</h2>
                <p>Pasion</p>
                <p>Integracion</p>
                <p>Compromiso</p>
                <p>Confianza</p>
            </div>

        </section>
    </div>
</form>
<script src="/js/redireccion.js"></script>