<link rel="stylesheet" href="/css/inicio/inicio.css">
<form action="/inicio/{{user.idUsuarios}}" method="post">
    <div id="container">

        {{!-- <div id="fondo">
            <img src="/img/FondoF.png" alt="">
        </div> --}}
        {{!-- barra de navegacion --}}
        <div id="navbar">
            <h2 id="bemuscle">BE MUSCLE</h2>
            <ul>
                <li id=""><a href="">Acerca de</a></li>
                <li id=""><a href="/">Validar usuario</a></li>
                <li id=""><a href="/registro">Registrate</a></li>
                <li id=""><a href="">Contactanos</a></li>
            </ul>
        </div>
        {{!-- imagen --}}
        <div id="cabecera">
            <img src="/img/lit.png" alt="">
        </div>
        {{!-- descripcion --}}
        <div id="descripcion">
            <div id="boton">
                <a href="#objetivos">Ver más</a>
            </div>

            <div id="parrafo1">
                <h2>¿Quienes somos?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis mollitia nihil cum quas libero,
                    sequi nemo repellat iure provident delectus harum saepe ipsum, repudiandae dolorem repellendus
                    assumenda, dolores ea expedita!</p>
            </div>

        </div>

        <section>
            {{!-- objetivos --}}

            <div id="objetivos">
                <h2>Objetivos</h2>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error quas voluptatem, architecto sit odio
                    atque? Quos consectetur perferendis quod obcaecati illo ipsa rerum aspernatur quia itaque! Labore
                    aliquam enim incidunt!</p>
            </div>
        </section>
        {{!-- objetivos --}}

        <section id"seccion2">
            <div class="row">
                <div class="col "id="mision">
                    <h2>mision</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis odit quisquam aliquid
                        voluptatem debitis, perferendis eligendi soluta laudantium harum eius amet! Iure assumenda, sit
                        aut doloremque dolorum natus deleniti architecto?</p>
                </div>

                <div class="col " id="vision">
                    <h2>vision</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur officiis quos porro libero
                        nemo sunt, ut maxime deleniti ab, amet illo inventore? Eveniet ab recusandae eum, nihil harum
                        eaque animi!</p>

                </div>

            </div>
        </section>

         {{!-- objetivos --}}
      <section id="seccion3">
          <div id="valores">
      <h2>Valores</h2>
      <p>pasio</p>
            <p>pasio</p>
                  <p>pasio</p>
                        <p>pasio</p>

          </div>

      </section>




    </div>
</form>