#contenido{
    width: 70%;
    height: 70%;
    max-width: 70%;
    max-height: 70%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsla(228, 80%, 54%, 0.859);
}

li {
    float: left;
}


li a {



    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #FDFEFE;
}
button{
    color: #000000;
    width:15%;  
}

body{
    background-image: url(../img/111.png);
    border-width: 20%;
}
body::after{
    background-color: #e8131348;
}

.container{
    background-color:rgba(44, 232, 213, 0.599);
    width:45%;
    height: 50%;
}