

nav {
    max-width: 900px;
    margin: auto;
    background-color: #18121E;
    font-size: 20px;
    margin-top: 20px;
    border-bottom: 5px solid #0E0B16;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0px 0px 10px #0E0B16, 0px 0px 20px #0E0B16;

}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    border: none;

}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    border: none;
}

.menu>li:hover {

    background-color: #0784b1;

}

.menu-vertical {
    position: absolute;
    background-color: #08080879;
    display: none;
    list-style: none;
    width: 165px;
    border: none;

}

.menu li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color:  #000415;
}

.menu-vertical li a {
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    border: none;
}



