/*nav {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    font-size: 26px;
    background-color: #18121E;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 48px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    animation-duration: 3s;
    animation-name: slidein;
    border-top: 5px solid #0E0B16;
    border-bottom: 5px solid #0E0B16;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 1%;
    box-shadow: 0px 0px 10px #013109, 0px 0px 20px #010161;

}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

nav a {
    color: #ffffff;
    border: none;
    font-weight: 900;
}

#nav1 {
    position: absolute;
    top: 2%;
    left: 1%;
}

#nav2 {
    position: absolute;
    top: 2%;
    left: 8%;
}

#nav3 {
    position: absolute;
    top: 2%;
    left: 22%;
}

#nav4 {
    position: absolute;
    top: 2%;
    left: 38%;
}

#nav5 {
    position: absolute;
    top: 2%;
    left: 48%;
}

#nav6 {
    position: absolute;
    top: 2%;
    left: 57%;
}

#nav7 {
    position: absolute;
    top: 2%;
    left: 69%;
}

#nav8 {
    position: absolute;
    top: 2%;
    left: 85%;
}

@media (max-width: 1100px) {
    #nav1 {
        left: 1%;
    }

    #nav2 {
        left: 17%;
    }

    #nav3 {
        left: 26%;
    }

    #nav4 {
        left: 37.5%;
    }

    #nav6 {
        left: 72%;
    }
}

@media (max-width: 1030px) {
    nav {
        width: 100%;
        height: 100%;
        max-width: 14%;
        max-height: 14%;
        display: block;
        font-size: 60%;
        cursor: pointer;
        overflow: hidden;
        text-align: center;

    }

    #nav1 {
        top: 0%;
        left: 2%;
    }

    #nav2 {
        top: 5%;
        left: 18%;
    }

    #nav3 {
        top: 10%;
        left: 18%;
    }

    #nav4 {
        top: 15%;
        left: 2%;
    }

    #nav5 {
        top: 20%;
        left: 18%;
    }
}

@media (max-width: 640px) {
    nav {
        text-align: left;
        font-size: 65%;
    }

    #nav1 {
        top: 0%;
    }

    #nav2 {
        top: 15%;
        left: 0%;
    }

    #nav3 {
        top: 25%;
        left: 0%;
    }

    #nav4 {
        top: 35%;
    }

    #nav5 {
        top: 50%;
        left: 0%;
    }
}

@media (max-width: 610px) {
    #nav1 {
        top: 0%;
    }

    #nav2 {
        top: 7%;
    }

    #nav3 {
        top: 14%;
    }

    #nav4 {
        top: 21%;
    }

    #nav5 {
        top: 28%;
    }

    #nav6 {
        top: 35%;
        left: 0%;
    }

    #nav7 {
        top: 42%;
    }
}

a {
    text-shadow: 0px 1px 0px #03f2fa, 0px 1px 0px #11eff7, 0px 1px 0px #11eff7;
    color: #00ffff;
    font-style: oblique;
    font-size: 20px;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    text-align: center;
}
nav a:hover {
    text-shadow: 0px 1px 0px #03f2fa, 0px 1px 0px #11eff7, 0px 1px 0px #11eff7;
    color: #00ffff;
    font-style: oblique;
    font-size: 20px;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    border: none;

}*/

nav {
    max-width: 900px;
    margin: auto;
    background-color: #18121E;
    font-size: 20px;
    margin-top: 20px;
    border-bottom: 5px solid #0E0B16;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0px 0px 10px #0E0B16, 0px 0px 20px #0E0B16;

}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    border: none;

}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    border: none;
}

.menu>li:hover {

    background-color: #0784b1;

}

.menu-vertical {
    position: absolute;
    background-color: #08080879;
    display: none;
    list-style: none;
    width: 165px;
    border: none;

}

.menu li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color:  #000415;
}

.menu-vertical li a {
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    border: none;
}



