<link rel="stylesheet" href="/css/contacto.css">
<form action="/contacto/" method="post">

    <div id="img">
        <img src="/img/ejecutivo_logo.png" alt="">
    </div>

    <div id="contenido">
        <div id="contenedor">

            <div>
                <h1>Colaboradores de BEMUSCLE</h1>
            </div>

            <div id="container">


                <div class="container__cards">
                    <div class="card">
                        <div class="cover">
                            <img src="img/Odalis.png" alt="" width="5px" />
                            <div class="img__back"></div>
                        </div>
                        <div class="description">
                            <h2>Odalis Rea</h2>
                            <p>
                                Cursando 4to nivel
                            </p>
                            <p>099 355 6321</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="cover">
                            <img src="img/Jorge.png" alt="" />
                            <div class="img__back"></div>
                        </div>
                        <div class="description">
                            <h2>Jorge</h2>
                            <p>Cursando 4to nivel </p>
                            <p>098 903 7997</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="cover">
                            <img src="img/Abigail.png" alt="" />
                            <div class="img__back"></div>
                        </div>
                        <div class="description">
                            <h2>Abigail Campo</h2>
                            <p>
                               Cursando 3er nivel 
                            </p>
                            <p>098 737 0873</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="cover">
                            <img src="img/Joel.jpeg" alt="" />
                            <div class="img__back"></div>
                        </div>
                        <div class="description">
                            <h2>Joel Cervantes</h2>
                            <p>
                                Cursando 3er nivel
                            </p>
                            <p>098 199 3470</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="cover">
                            <img src="img/Santiago.png" alt="" />
                            <div class="img__back"></div>
                        </div>
                        <div class="description">
                            <h2>Santiago Guallichico</h2>
                            <p>
                               Cursando 3er nivel
                            </p>
                            <p>099 480 6050</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="cover">
                            <img src="img/Alexbi11.png" alt="" />
                            <div class="img__back"></div>
                        </div>
                        <div class="description">
                            <h2>Alexbi 11 --</h2>
                            <p>
                               Cursando 1er nivel
                            </p>
                            <p>096 909 4219</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="cover">
                            <img src="img/Anthony.png" alt="" />
                            <div class="img__back"></div>
                        </div>
                        <div class="description">
                            <h2>Anthony Molina</h2>
                            <p>
                                Cursando 1er nivel
                            </p>
                            <p>098 500 3812</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="cover">
                            <img src="img/Kevin.png" alt="" />
                            <div class="img__back"></div>
                        </div>
                        <div class="description">
                            <h2>Kevin Perez</h2>
                            <p>
                                Cursando 1er nivel
                            </p>
                            <p>099 255 8089</p>
                        </div>
                    </div>
                </div>
</form>
<script src="/js/redireccion.js"></script>