<link rel="stylesheet" href="/css/contacto.css">
<form action="/contacto/" method="post">


 
    <div id="contenido">
        <div id="contenedor">
            <div id="titulo">
                <p>Colaboradores de BEMUSCLE</p>
            </div>
        <div id="container">

    
            <div class="container__cards">
                <div class="card">
                    <div class="cover">
                        <img src="img/Odalis.png" alt="" width="5px" />
                        <div class="img__back"></div>
                    </div>
                    <div class="description">
                        <h2>Odalis Rea</h2>
                        <p>
                            La feja los deja abandonados para ir a mimir y no sabemos que hacer.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="cover">
                        <img src="img/Jorge.png" alt="" />
                        <div class="img__back"></div>
                    </div>
                    <div class="description">
                        <h2>Jorge</h2>
                        <p>Novio de la Jefa que nos deja abandonados por ir a mimir</p>
                    </div>
                </div>

                <div class="card">
                    <div class="cover">
                        <img src="img/Abigail.png" alt="" />
                        <div class="img__back"></div>
                    </div>
                    <div class="description">
                        <h2>Abigail Campo</h2>
                        <p>
                            El toxico no me deja trabajar y me manda mas de 1200 mensajes al
                            dia.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="cover">
                        <img src="img/Joel.jpeg" alt="" />
                        <div class="img__back"></div>
                    </div>
                    <div class="description">
                        <h2>Joel Cervantes</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque,
                            laboriosam.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="cover">
                        <img src="img/Santiago.png" alt="" />
                        <div class="img__back"></div>
                    </div>
                    <div class="description">
                        <h2>Santiago Guallichico</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque,
                            laboriosam.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="cover">
                        <img src="img/Alexbi11.png" alt="" />
                        <div class="img__back"></div>
                    </div>
                    <div class="description">
                        <h2>Alexbi 11 --</h2>
                        <p>
                            Ha ce directos en Twitch por la tarde con Aroyit y Rubius en clubes PRO en FIFA22.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="cover">
                        <img src="img/Anthony.png" alt="" />
                        <div class="img__back"></div>
                    </div>
                    <div class="description">
                        <h2>Anthony Molina</h2>
                        <p>
                            Enamorado de la amiga de la Abigail que no ayuda a conquistarla ....
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="cover">
                        <img src="img/Kevin.png" alt="" />
                        <div class="img__back"></div>
                    </div>
                    <div class="description">
                        <h2>Kevin Perez</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque,
                            laboriosam.
                        </p>
                    </div>
                </div>
            </div>
</form>
<script src="/js/redireccion.js"></script>