<form action="/" method="post">

<div id="contenido">
    <div id="verificacion">
        <input type="text" name="verificacion" id="verificaciones" checked>
    </div>
    <div id="validar">
        <button type="submit">Validar</button>
    </div>

</div>

</form>

