<link rel="stylesheet" href="/css/index.css">
<form action="/" method="post">

    <body>
        <section id="nabvar">
            <ul>
                <li><a href="default.html">Home</a></li>
                <li><a href="news.asp">News</a></li>
                <li><a href="contact.asp">Contact</a></li>
                <li><a href="about.asp">About</a></li>
                <li><a href="#"></a></li>

                
            </ul>
        </section>
    </body>
    <br>
    <br>
    <center>
        <div class="container">
            <div>
                <h1>BE MUSCLE</h1>
            </div>
            <div id="contenido">
                <div id="verificacion">
                    <br>

                    <label for="#">Ingresa tu usuario</label>
                    <input type="text" name="verificacion" id="verificaciones" checked>
                </div>
                <br>
                <br>
                <div id="validar">
                    <button type="submit">Validar</button>
                </div>
            </div>
        </div>
    </center>
</form>