<link rel="stylesheet" href="css/index.css">
<form action="/" method="post">
<div id="fondo">
    <img src="img/111.png" alt="">
</div>
<div>
    <img src="img/ejecutivo_logo.png" alt="">
</div>
<div id="contenido">
    <div id="verificacion">
        <input type="text" name="verificacion" id="verificaciones" checked>
        <label for="">Ingresa tu usuario</label>
    </div>
    <div id="validar">
        <button type="submit">Validar</button>
    </div>

</div>

</form>