<link rel="stylesheet" href="css/index.css">
<form action="/" method="post">
    <div id="fondo">
        <img src="img/111.png" alt="">
    </div>
    <div id="img">
        <img src="/img/ejecutivo_logo.png" alt="">
    </div>

    <div id="contenido">
        <input type="text" name="verificacion" id="verificaciones" checked>
        <div id="verificacion">
            <label for="">Ingresa tu usuario</label>
        </div>
        <div id="validar">
            <button type="submit">Validar</button>
        </div>

    </div>

</form>