@font-face{
    font-family:Fuentechida;
    src:url(fonts/OleoScript-Regular.ttf);
    }
        body{
            background-image: url(/img/fondo1.png);
            background-size:cover;
            background-repeat: no-repeat;
            background-attachment:fixed;
        }
        .formulario{
            transition: 2s;
            margin-top: 100px;
            width: 30%;
            box-shadow: 0px 0px 40px rgb(120, 241, 250),0px 0px 80px rgba(256,256,256 ,1);
        }
    
        .formulario:hover{
            transition: .8s;
            background-color: rgba(0,0,0,.5);
        }
    
    
    .logo{
            height: 85px;
            margin-top: 30px;
            margin-left: 170px;
        }
        
     .espaciado{
            margin-top: 40px;
        }
    
        fieldset{
            transition: 2s;
            margin-bottom: 50px;
            border-color:  rgb(5, 248, 228);
            border-style: groove;
            border-width: 0.5px;
            border-radius: 20px;
            background-color: rgba(234, 250, 249, 0);
            margin-left: 40px;
            width: 800px;
            padding-left: 40px;
            padding-right: 30px;
        }
        
    
    
       #usuarios{
            
            color:white;
            text-align: center;
            font-family: cursive;
        }
        #contraseñas{
            
            color:white;
            text-align: center;
            font-family: cursive;
        }
      
      
        h3,h4{
            
            color:white;
            text-align: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
      
        .Input{
            transition: .8s;
            background-color: rgba(0,0,0,.5);
            color: white;
            border-color:#006;
        border-bottom-color:white;
            border-bottom-style:groove;
        border-left:none;
        border-right:none;
        border-top:none;
            border-width: 4px;
            
        }
    
        .Input:hover{
            transition: .8s;
        background-color:rgba(55,71,79 ,.5);
        box-shadow:inset;
            border-bottom-color:rgb(0, 153, 255);
        }
        
        .Input:focus{
            transition: .8s;
        border-bottom-color:rgb(0, 153, 255);
        }
    
    
    
        @media screen and (max-width:750px) {
            
            .logo{
                height: 50px;
    
            }
            .formulario{
                transition: 2s;
                width: 95%;
                margin-top: 10px;
            }
        }