<link rel="stylesheet" href="/css/login/login.css">
<form action="/login/{{user.idUsuarios}}" method="post">
<div id="fondo">
            <img src="/img/FondoF.png" alt="">
        </div>
        <div id="img">
            <img src="/img/ejecutivo_logo.png" alt="">
        </div>
    <div id="contenido">
     
        <div id="contenedor">
            <div id="titulo">
                <h1>Login</h1>
            </div>
            {{#each usuario}}
            <div id="username">
                <input type="text" name="username" id="nombre" checked placeholder="Nombre de usuario"
                    value="{{username}}">
            </div>
            {{/each}}
            <div id="password">
                <input type="password" name="password" id="contraseña" checked placeholder="Contraseña">
            </div>
            <div id="vista">
                <div id="ojo1">
                    <button type="button" onclick="boton.cambiar()"><img src="/img/ojo.png" alt=""></button>
                </div>
                <div id="ojo2">
                    <button type="button" onclick="boton.segundoCambio()"><img src="/img/ojo2.png" alt=""></button>
                </div>
            </div>
            <div id="boton">
                <button type="submit">Ingresar</button>
            </div>
        </div>
    </div>
</form>

<script src="/js/ojos.js"></script>