<link rel="stylesheet" href="/css/login/login.css">
<form action="/login" method="post">

    <div id="contenido">
        <div id="titulo">
            <p>Login</p>
        </div>
        <div id="username">
            <label>Nombre de usuario:</label>
            <input name="username" id="nombreUsuario" checked type="text">
        </div>
        <div id="password">
            <label>Contraseña:</label>
            <input name="password" id="contraseña" checked type="password">
        </div>
        <div id="guardado">
            <button type="submit">Guardar</button>
        </div>
    </div>

</form>