<link rel="stylesheet" href="/css/login/registro.css">
<form action="/registro" method="post">

    <div id="contenido">
        <div id="fondo">
        </div>
        <div id="img">
            <img src="/img/ejecutivo_logo.png" alt="">
        </div>

        <div id="contenedor">
            <div id="titulo">
                <h1>Registro</h1>
            </div>
            
            <div id="username">
                <label id="usernames">Nombre de usuario:</label>
                <input name="username" id="nombreUsuario" checked type="text">
            </div>
            <div id="password">
                <label id="passwords">Contraseña:</label>
                <div>
                    <input name="password" id="contraseña" checked type="password">
                </div>
            </div>

            <div id="cedula">
                <label>Cedula:</label>
                <div>
                    <input name="cedula" id="Cedula" checked type="text">
                </div>

            </div>

            <div id="nombre">
                <label>Nombre:</label>
                <div>
                    <input name="nombre" id="Nombre" checked type="text">
                </div>
            </div>

            <div id="apellido">
                <label>Apellido:</label>
                <div>
                    <input name="apellido" id="Apellido" checked type="text">
                </div>
            </div>
            <div id="edad">
                <label>Edad:</label>
                <div>
                    <input name="edad" id="Edad" checked type="number">
                </div>
            </div>


            <div id="guardado">
                <button type="submit">Guardar</button>
            </div>

        </div>
    </div>

</form>