<link rel="stylesheet" href="/css/login/login.css">
<form action="/registro" method="post">

    <div id="contenedor">
        <div id="titulo">
            <p>Registro</p>
        </div>
        <div id="username">
            <label>Nombre de usuario:</label>
            <input name="username" id="nombreUsuario" checked type="text">
        </div>
        <div id="password">
            <label>Contraseña:</label>
            <input name="password" id="contraseña" checked type="password">
        </div>
        <div id="cedula">
            <label>Cedula:</label>
            <input name="cedula" id="Cedula" checked type="text">
        </div>
        <div id="nombre">
            <label>Nombre:</label>
            <input name="nombre" id="Nombre" checked type="text">
        </div>
        <div id="apellido">
            <label>Apellido:</label>
            <input name="apellido" id="Apellido" checked type="text">
        </div>
        <div id="edad">
            <label>Edad:</label>
            <input name="edad" id="Edad" checked type="number">
        </div>
        <div id="guardado">
            <button type="submit">Guardar</button>
        </div>
    </div>
    
</form>