<link rel="stylesheet" href="/css/login/login.css">
<form action="/historialCliente/Agregar/{{user.idUsuarios}}" method="post">

    <div id="historialCliente">
        <div id="historial">
            <p>Historial del cliente</p>
        </div>
        
        <div id="lesiono_ocea">
            <label>Lesion ocea:</label>
            <input name="lesion_ocea" id="lesionOc" checked type="text">
        </div>
        <div id="lesion_muscular">
            <label>Lesion muscular:</label>
            <input name="lesion_muscular" id="lesionmus" checked type="text">
        </div>
        <div id="enfermedad_cardiovascular">
            <label>Enfermedad cardiovascular:</label>
            <input name="enfermedad_cardiovascular" id="enfermedadcar" checked type="text">
        </div>
        <div id="actividad_deportiva">
            <label>actividad deportiva:</label>
            <input name="actividad_deportiva" id="deportiva" checked type="text">
        </div>
        <div id="embarazo">
            <label>Embarazo:</label>
            <input name="embarazo" id="Embarazo" checked type="text">
        </div>
        <div id="enfermedad">
            <label>Enfermedad:</label>
            <input name="enfermedad" id="Enfermedad" checked type="text">
        </div>
        <div id="agregar">
            <button type="submit">Agregar</button>
        </div>
    </div>

</form>