<link rel="stylesheet" href="/css/historialCliente/historialClienteAgregar.css">
<form action="/historialcliente/Agregar/{{user.idUsuarios}}" method="post">
    <div id="img">
        <a href="/proyecto/lista/{{user.idUsuarios}}"><img src="/img/ejecutivo_logo.png" alt=""></a>
    </div>
    <div id="contenido">
        <div id="contenedor">

            <div id="titulo">
                <h1>Historial Cliente</h1>
            </div>
        
            <div id="lesiono_ocea">
                 <label>Lesion Ocea: </label>
                <input name="lesion_ocea" id="lesionOc" checked type="text">
            </div>
           
            <div id="lesion_muscular">
                 <label>Lesion Muscular: </label>
                <input name="lesion_muscular" id="lesionmus" checked type="text">
            </div>

            <div id="enfermedad_cardiovascular">
                <label>Enfermedad Cardiovascular:</label>
                <input name="enfermedad_cardiovascular" id="enfermedadcar" checked type="text">
            </div>

            <div id="actividad_deportiva">
                <label>Actividad Deportiva:</label>
                <input name="actividad_deportiva" id="deportiva" checked type="text">
            </div>

            <div id="embarazo">
                <label>Embarazo: </label>
                <input name="embarazo" id="Embarazo" checked type="text">
            </div>

            <div id="enfermedad">
                 <label>Enfermedad: </label>
                <input name="enfermedad" id="Enfermedad" checked type="text">
            </div>

            <div id="agregar">
                <button type="submit">Agregar</button>
            </div>
        </div>
    </div>
</form>