<link rel="stylesheet" href="/css/historialCliente/historialClienteAgregar.css">
<form action="/historialcliente/Agregar" method="post">

    <div id="contenido">
        <div id="titulo">
            <p>historialCliente</p>
        </div>
       
        <label>Lesion ocea: </label>
        <div id="lesiono_ocea">
            <input name="lesion_ocea" id="lesionOc" checked
                type="text">
        </div>

       
        <label>Lesion muscular: </label>
        <div id="lesion_muscular">
            <input name="lesion_muscular" id="lesionmus" checked
                type="text">
        </div>

        <label>Enfermedad cardiovascular:</label>
        <div id="enfermedad_cardiovascular">
            <input name="enfermedad_cardiovascular"  id="enfermedadcar" checked
                type="text">
        </div>

        <label>actividad deportiva:</label>
        <div id="actividad_deportiva">
            <input name="actividad_deportiva" id="deportiva" checked
                type="text">
        </div>

        <label>Embarazo: </label>
        <div id="embarazo">
            <input name="embarazo" id="Embarazo" checked
                type="text">
        </div>

        <label>Enfermedad: </label>
        <div id="enfermedad">
            <input name="enfermedad" id="Enfermedad" checked
                type="text">
        </div>

        <div id="agregar">
            <button type="submit">Agregar</button>
        </div>

    </div>
</form>