<link rel="stylesheet" href="/css/rutina/rutinaAgregar.css">
<form action="/rutina/Agregar/{{user.idUsuarios}}" method="post">
    <div id="img">
        <img src="/img/ejecutivo_logo.png" alt="">
    </div>
    <div id="contenido">

        <div id="contenedor">

            <div id="titulo">
                <p>Rutinas</p>
            </div>
            <div id="video_rutina">
                <label>video rutina: </label>
                <input name="video_rutina" id="video_rutinas" checked type="url">
            </div>

            <div id="tiempo_rutina">
                <label>tiempo rutina: </label>
                <input name="tiempo_rutina" id="tiempo_rutinas" checked type="time">
            </div>

            <div id="descripcion">
                <label>descripcion: </label>
                <textarea name="descripcion" id="descripciones" checked type="text"></textarea>
            </div>

            <div id="progreso">
                <label>progreso: </label>
                <input id="range" name="progreso" id="progresos" checked type="range">
            </div>

            <div id="agregar">
                <button type="submit">Agregar</button>
            </div>
        </div>
    </div>
</form>