<link rel="stylesheet" href="/css/rutina/rutina.css">
<form action="/rutina/Agregar" method="post">

    <div id="contenido">
        <div id="titulo">
            <p>Rutina</p>
        </div>

        <div id="video_rutina">
            <label>Video Rutina:</label>
            <input name="video_rutina" id="video_rutina" checked type="string">
        </div>

        <div id="tiempo_rutina">
            <label>Tiempo de la rutina:</label>
            <input name="tiempo_rutina" id="tiempo_rutina" checked type="string">
        </div>

        <div id="descripcion">
            <label>Descripcion:</label>
            <input name="descripcion" id="descripcion" checked type="string">
        </div>

        
        <div id="progreso">
            <label>Progreso:</label>
            <input name="progreso" id="progreso" checked type="string">
        </div>


        <div id="agregar">
            <button type="submit">Agregar</button>
        </div>
    </div>
</form>
