<link rel="stylesheet" href="../../public/css/ejercicio/ejercicio.css">
<form action="/ejercicio/Agregar" method="post">

    <div id="contenido">
        <div id="titulo">
            <p>Ejercicio</p>
        </div>
        <div id="nombre_ejercicio">
            <label> Ejercicio: </label>
            <input name="nombre_ejercicio" id="nombre_ejercicios" checked type="text">
        </div>
        <div id="descripcion">
            <label> descripcion: </label>
            <input name="descripcion" id="descripciones" checked type="text">
        </div>
        <div id="calificacion">
            <label> calificacion: </label>
            <input name="calificacion" id="calificaciones" checked type="text">
        </div>
        <div id="agregar">
            <button type="submit">Agregar</button>
        </div>
    </div>
</form>
