<link rel="stylesheet" href="/css/ejercicio/ejercicioMenu.css">
<form action="/ejercicioMenu/Menu/" method="get">
<<<<<<< HEAD
=======
    <div id="img">
        <a href="/proyecto/lista/{{user.idUsuarios}}"><img src="/img/ejecutivo_logo.png" alt=""></a>
    </div>
>>>>>>> 38eef846a41ebbd248e938c8d73447a6e193a333
    <div id="contenido">
        <div id="contenedor">

            <div id="contenedor">
                <div id="titulo">
                    <p>ejercicioMenu</p>
                </div>

                <div id="kiko-slider">

                    <ul class="slider">
                        <li id="slide1">

                            <a href="/ejercicio/agregar/1" /> <img src="/img/cardio.jpg"> </a>
                        </li>
                        <li id="slide2">
                            <a href="/ejercicio/agregar/1" /> <img src="/img/crossfit.jpeg" /> </a>
                        </li>
                        <li id="slide3">
                            <a href="/ejercicio/agregar/1" /> <img src="/img/dinamicos.jpeg" /> </a>
                        </li>
                        <li id="slide4">
                            <a href="/ejercicio/agregar/1" /> <img src="/img/flexibilidad.jpg" /> </a>
                        </li>
                        <li id="slide5">
                            <a href="/ejercicio/agregar/1" /> <img src="/img/flexiones.jpg" /> </a>
                        </li>
                        <li id="slide6">
                            <a href="/ejercicio/agregar/1" /> <img src="/img/fuerza.jpg" /> </a>
                        </li>
                        <li id="slide7">
                            <a href="/ejercicio/agregar/1" /> <img src="/img/pesas.jpeg" /> </a>
                        </li>
                    </ul>
                 
                    <ul class="menu">
                        <li>
                            <a class="slide1" href="#slide1">Cardio </a>
                        </li>
                        <li>
                            <a href="#slide2">Crossfit</a>
                        </li>
                        <li>
                            <a href="#slide3">Dinamico</a>
                        </li>
                        <li>
                            <a href="#slide4">Flexibilidad</a>
                        </li>
                        <li>
                            <a href="#slide5">Flexiones</a>
                        </li>
                        <li>
                            <a href="#slide6">Fuerza</a>
                        </li>
                        <li>
                            <a href="#slide7">Pesas</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    </div>

</form>
<script src="/js/main.js"></script>