<link rel="stylesheet" href="/css/ejercicio/ejercicioEditar.css">
{{#each lista}}
<form action="/ejercicio/Editar/{{ejercicio_id}}" method="post">
    {{/each}}
    <div id="img">
        <img src="/img/ejecutivo_logo.png" alt="">
    </div>
    <div id="contenido">

        <div id="contenedor">
            <div id="titulo">
                <p>Editar</p>
            </div>
            {{#each lista}}
            <div>
                <label id="nombre_ejercicio">Nombre ejercicio:</label>
                <input name="nombre_ejercicio" id="nombre_ejercicios" checked type="text" value="{{nombre_ejercicio}}">
            </div>
            <div>
                <label id="descripcion">Descripcion :</label>
                <input name="descripcion" id="descripciones" checked type="text" value="{{descripcion}}">
            </div>
            {{/each}}
            <div id="editar">
                <button type="submit">Editar</button>
            </div>
        </div>

    </div>
     <a href="/ejercicio/lista/1" />
    <div class="icon">
        <div class="arrow">

        </div>

    </div>
    </a>
</form>