<link rel="stylesheet" href="../../public/css/ejercicio/ejercicio.css">
 {{#each lista}}
<form action="/ejercicio/Editar/{{ejercicio_id}}" method="post">
  {{/each}}
    <div id="contenido">
        <div id="titulo">
            <p>Login</p>
        </div>
        {{#each lista}}
        <div id="nombre_ejercicio">
            <label>Nombre ejercicio:</label>
            <input name="nombre_ejercicio" id="nombre_ejercicios" checked type="text" value="{{nombre_ejercicio}}">
        </div>
        <div id="descripcion">
            <label>Descripcion :</label>
            <input name="descripcion" id="descripciones" checked type="text" value="{{descripcion}}">
        </div>
        <div id="calificacion">
            <label>Calificacion:</label>
            <input name="calificacion" id="calificaciones" checked type="text" value="{{calificacion}}">
        </div>
        {{/each}}
        <div id="editar">
            <button type="submit">Editar</button>
        </div>
    </div>
</form>
