<link rel="stylesheet" href="/css/ejercicio/ejercicioAgregar.css">

<form action="/ejercicio/Agregar/{{user.idUsuarios}}" method="post">
    <div id="img">
        <img src="/img/ejecutivo_logo.png" alt="">
    </div>
    <div id="contenido">

        <div id="contenedor">
            <div id="titulo">
                <p>Ejercicio
                </p>
            </div>

            <div>
                <label id="nombre_ejercicio"> Nombre: </label>
                <input name="nombre_ejercicio" id="nombre_ejercicios" checked type="text">
            </div>

            <div>
                <label id="descripcion"> descripcion: </label>
                <input name="descripcion" id="descripciones" checked type="text">
            </div>

            <div>
                <label id="clasificacion"> categoría: </label>
                <input name="a" id="clasificaciones" placeholder="Fuerza" checked type="text">
            </div>
           

            <div>
                <label id="subclasificacion"> Beneficio: </label>
                <select name="subclasificacion" id="subclasificaciones">
                    {{#each subclasificacion}}
                    <option value="{{sub_clasificacion_id}}">{{nombre_sub_clasificacion}}</option>
                    {{/each}}
                </select>
            </div>

            <div id="agregar">
                <button type="submit">Agregar</button>
            </div>
        </div>
    </div>
</form>
<script src="/js/comentarios.js"></script>
<script src="/js/numero.js"></script>