<link rel="stylesheet" href="/css/subclasificacion/subclasificacionEditar.css">
{{#each lista}}
<form action="/subclasificacion/Editar/{{sub_clasificacion_id}}" method="post">
    {{/each}}
    <div id="img">
        <img src="/img/ejecutivo_logo.png" alt="">
    </div>
    <div id="contenido">

        <div id="contenedor">
            <div id="titulo">
                <p>Subclasificacion</p>
            </div>
            {{#each lista}}

            <div id="nombre_sub_clasificacion">
                <label>Nombre: </label>
                <input name="nombre_sub_clasificacion" id="nombre_sub_clasificaciones" checked type="text"
                    value="{{nombre_sub_clasificacion}}">
            </div>

            <div id="descripcion_sub_clasificacion">
                <label>Descripción: </label>
                <input name="descripcion_sub_clasificacion" id="descripcion_sub_clasificaciones" checked type="text"
                    value="{{descripcion_sub_clasificacion}}">
            </div>
            {{/each}}
            <div id="editar">
                <button type="submit">Editar</button>
            </div>
        </div>
        <div id="atras">
            <a href="/subclasificacion/lista/{{user.idUsuarios}}"><img src="/img/ejecutivo_logo.png" alt=""></a>
        </div>
    </div>
</form>