<link rel="stylesheet" href="/css/subclasificacion/subclasificacion.css">
<form action="/subclasificacion/Agregar" method="post">

    <div id="contenido">
        <div id="titulo">
            <p>Subclasificacion</p>
        </div>
        <label> Nombre: </label>
        <div id="nombre_sub_clasificacion">
            <input name="nombre_sub_clasificacion" id="nombre_sub_clasificaciones" checked type="text">
        </div>
        <div id="agregar" >
            <button type="submit">Agregar</button>
        </div>
    </div>
</form>
