<link rel="stylesheet" href="/css/subclasificacion/subclasificacion.css">
<form action="/subclasificacion/Lista/{{user.idUsuarios}}" method="get">

    <div id="contenido">
        {{#each lista}}
        <div id="tarjetas">
            <div id="nombre_sub_clasificaciones">
                <p> {{nombre_sub_clasificacion}}</p>
            </div>
            <div id="Editar">
                <a href="/subclasificacion/Editar/{{sub_clasificacion_id}}" type="button">Editar</a>
            </div>
            <div id="eliminar">
                <a href="/subclasificacion/Eliminar/{{sub_clasificacion_id}}" type="button"> Eliminar</a>
            </div>

        </div>
        {{/each}}
    </div>
</form>