body {
    margin: 0px;
    padding: 0px;
    background: url("/img/FondoF.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open sans', sans-serif;
}

#img {
    position: absolute;
    top: 2%;
    left: 9.5%;
    width: 100%;
    height: 100%;
    max-width: 15%;
    max-height: 13%;
}

#img img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

#contenido {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 94%;
    height: auto;

}

.row {
    gap: 1.5%;
    row-gap: 20px;
    justify-content: center;
}

#tarjetas {
    color: #f9faf9;
    width: 100%;
    height: 10%;
    max-width: 90%;
    max-height: 10%;
    background-color: #0f0f0f65;
    text-align: center;
    animation-duration: 4s;
    animation-name: slidein;
    padding-top: 2em;
    padding-right: 4em;
    padding-bottom: 2em;
    padding-left: 3em;
    border: 1px ridge #fbfbfb;
    box-shadow: 0px 0px 5px #f1f7f7, 0px 0px 10px #e7eded;

}

@keyframes slidein {
    from {
        margin-left: 8%;
        width: 6%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


#nombre_proyecto {
    text-shadow: 0px 0px 1px #03f2fa, 0px 0px 2px #11eff7, 0px 0px 2px #11eff7;
    color: #00ffff;
    font-style: oblique;
    font-size: 70px;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 10px;
    text-align: center;
}

#descripcion_proyecto {
    color: #f5f8f8;
    font-style: oblique;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    text-align: justify;
}

#mision {
    color: #f5f8f8;
    font-style: oblique;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    text-align: justify;

}

#vision {
    color: #f5f8f8;
    font-style: oblique;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    text-align: justify;



}

#misiones {
    text-shadow: 0px 0px 1px #03f2fa, 0px 0px 2px #11eff7, 0px 0px 2px #11eff7;
    color: #f3f7f7;
    font-style: oblique;
    font-size: 30px;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 10px;
    text-align: center;
}

#visiones {
    text-shadow: 0px 0px 1px #03f2fa, 0px 0px 2px #11eff7, 0px 0px 2px #11eff7;
    color: #f8f9f9;
    font-style: oblique;
    font-size: 30px;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 10px;
    text-align: center;
}

#editar {
    margin-left: 8%;
    color: #058c8a;
    text-decoration: none;
    position: relative;
    bottom: 19.8em;
}


a {
    color: #30e7e4;
    border: 1px solid #333333;
    border-top-style: dotted;
    border-right-width: 10px;
    border-bottom-color: #faf9f9;
    text-decoration: none;
}

a:hover {
    color: #faf9f9;
    border: 1px solid #333333;
    border-top-style: dotted;
    border-right-width: 20px;
    border-bottom-color: #30e7e4;
    text-decoration: none;
}