<link rel="stylesheet" href="/css/clasificacion/clasificacionLista.css">

<form action="/clasificacion/Lista/{{user.idUsuarios}}" method="get">
    <div id="img">
        <img src="/img/ejecutivo_logo.png" alt="">
    </div>
    <div id="contenido">
        <div class="row">
            {{#each lista}}
            <div id="tarjetas">
                <div id="titulo">
                    <p>Categoria N° {{clasificacion_id}}</p>
                </div>
                <div id="nombre_clasificaciones">
                    <p> {{nombre_clasificacion}}</p>
                </div>
                <div id="descripcion_clasificaciones">
                    <p> {{descripcion_clasificacion}}</p>
                </div>
                <div id="Ver">
                    <a href="/subclasificacion/lista/' + ids" type="button">Cosejos </a>
                </div>
            </div>
            {{/each}}
        </div>

    </div>

</form>