#fondo {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#fondo img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#contenido {
    position: absolute;
    top: 13%;
    left: 3%;
    width: 94%;
    height: auto;
}

.row {
    gap: 1.5%;
    row-gap: 20px;
}

#nombre_ejercicios {
    text-align: center;
}

#tarjetas {
    color: #f9faf9;
    width: 100%;
    height: auto;
    max-width: 25%;
    max-height: auto;
    background-color: #111;
    text-align: justify;
    animation-duration: 4s;
    animation-name: slidein;
    padding-top: 2em;
    padding-right: 4em;
    padding-bottom: 2em;
    padding-left: 3em;
    border: 1px ridge #fbfbfb;
    box-shadow: 0px 0px 5px #03f2fa, 0px 0px 10px #11eff7;

}

@keyframes slidein {
    from {
        margin-left: 8%;
        width: 6%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#editar {
    margin-left: 0%;
    position: absolute;
    color: #30e7e4;
    text-decoration: none;
}

#eliminar {
    margin-left: 0%;
    position: absolute;
    color: #30e7e4;
    text-decoration: none;
}

a {
    color: #30e7e4;
    border: 1px solid #333333;
    border-top-style: dotted;
    border-right-width: 10px;
    border-bottom-color: #faf9f9;
    text-decoration: none;
}

a:hover {
    color: #faf9f9;
    border: 1px solid #333333;
    border-top-style: dotted;
    border-right-width: 20px;
    border-bottom-color: #30e7e4;
    text-decoration: none;
}

a:focus{

}